* {
    font-family: Lato, "Times New Roman", serif;
    color: #171717;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 34px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    box-sizing: border-box;
}
div.oll {
    /*display: inline-block;
    padding: 12%;*/
    display: inline-block;
    width: 88%;
    height: 80%;
    box-shadow: 0px 4px 68px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 8%;

}
body {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    text-align: center;

}
footer {
    font-size: 24px;
    text-align: left;
    transform: scaleX(1.1041);
}/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
.big {
    font-size: 42px;
}
h1 {
    width: 384px;
    height: 51px;
    font-size: 42px;
    letter-spacing: 0px;
    color: rgb(23,23,23);
    font-family: "Playfair Display";
}
section {
    margin-left: 10px;
}
p, div {
    display: inline-block;

}
section {margin: 0 auto}
div img {
    display: inline-block;
    height: 79px;
    width: 6%;
    margin: 0;
}
div div.one {
    display: inline-block;
    width: 93%;
    margin: 0;
}
blockquote {
    font-size: 24px;
}
[type="button"] {
    color: #eaa258;
    background-color: white;
    margin-left: 4%;
    border: 1px solid #eaa258;
    letter-spacing: 0.2em;
    width: 220px;
    height: 68px;
    text-align: center;
}