* {
    font-family: Lato, "Times New Roman", serif;
    color: #171717;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 34px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}
body {
    display: inline-block;
    padding: 12%;

}
footer {
    font-size: 24px;
    text-align: left;
    transform: scaleX(1.1041);
}/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
.big {
    font-size: 42px;
}
section {
    margin-left: 10px;
}
p {
    display: inline-block;
}
strong {
    display: inline-block;
    font-size: 110px;
    width: 10%;
    padding: 0;

}
span {
    display: inline-block;
    width: 90%;
    padding: 0;


}