* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: rgb(255,255,255);
    font-family: "Josefin Sans", sans-serif;
}

body {
    padding: 20px;
    max-width: 1800px;
}
h2 {
    font-size: 36px;
    font-family: Aleo, serif;
    font-weight: normal;
}
button {
    background: url("../img/bg_button.png");
    height: 60px;
    width: 42%;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Aleo, serif;
    text-transform: uppercase;
}
.clearfix:after {
    Content: '';
    Display: table;
    Clear: both;
}
header {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    background: url("../img/first_bg.jpg");
}
.first_bg {
    padding-top: 20%;
    min-height: 740px;
}
h1 {
    font-size: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
header p {
    font-size: 22px;
    letter-spacing: 7px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 50px;
}
.first_bg label {
    display: flex;
    width: 37%;
    height: 60px;
}
.first_bg label input{
    width: 77%;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    border: none;
    }
button.search {
    background-color: #5474fd;
    line-height: 56px;
    border: 2px solid white;
    width: 23%;
}
nav {
    background-color: #5474fd;
    text-transform: uppercase;
    height: 80px;
    margin-bottom: 0;
}
nav ul {
    List-style: none;
    display: inline-block;
    width: 48%;
    line-height: 80px;
}
nav ul li {
    display: inline-block;
    font-size: 14px;
    font-family: Aleo, serif;
    padding: 0 10px;
    text-decoration: none;
}
li a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    width: 48%;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}
.second {
    background: #333333 url("../img/second_bg.jpg") no-repeat;
}
.second .container {
    display: flex;
    justify-content: space-between;
    padding: 115px 0;
    max-width: 1110px;
}
.second .container > div {
    width: 50%;
}
.item_text {
    margin-right: 30px;
    padding-top: 8%;
}
.item_text h2 {
    margin-bottom: 55px;
}
.item_text p {
    padding-bottom: 35px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 26px;
    color: rgb(232,232,232);
    font-family: "Josefin Sans", sans-serif;
}
.item_img img {
    display: block;
    width: 65%;
}
div.row1 {
    margin-bottom: 5px;
}
div.row1 img {
    margin-left: 13%;
}
div.row2 img {
    margin-right: 0;
}
.how_it_work {
    background: #333333;

}
.how_it_work ul {
    background: #333333 url("../img/how_it_work.png") no-repeat center 0%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5%;
}
.how_it_work ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: #333333;
    border-radius: 50%;
}
.how_it_work ul li p {
    font-size: 36px;
    color: rgb(232,232,232);
    font-family: Aleo, serif;
    text-align: center;
    margin-top: 20px;
}
.villa {
    height: 700px;
    background-image: url("../img/thrird_bg.jpg");
    padding-left: 18.5%;
    padding-top: 18.5%;
}
.sea {
    height: 700px;
    background-image: url("../img/fourd_bg.jpg");
    padding-right: 18.5%;
    padding-top: 18.5%;
}
.sea div {
    float: right;
}
.villa div, .sea div {
    width: 30%;
    min-height: 370px;
    background-color: rgba(42,39,43,0.7);
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: rgb(232,232,232);
    padding: 45px 35px 45px 25px;
}
.villa div h4, .sea div h4 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 25px;
}
.villa div h3, .sea div h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(254,254,254);
    font-weight: normal;
    margin-bottom: 30px;
}
.villa div p, .sea div p {
    margin-bottom: 10%;
}
.Testimonial {
    background: url("../img/Testimonial_bg.jpg");
    text-align: center;
    min-height: 735px;
    padding-top: 120px;
}
.Testimonial h2 {
    margin-bottom: 95px;
}
.Testimonial h3 {
    font-size: 20px;
    color: rgb(254,254,254);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.testi-container {
    background-color: #333333;
    max-width: 1110px;
    display: flex;
}
.testi-container div {
    margin: 0;

}
.testi-container .image {
    width: 40%;
    background: #333333 url("../img/testimonial_img.jpg") no-repeat center center;
}

.testi-container .acite {
    width: 60%;
    font-size: 16px;
    line-height: 26px;
    color: rgb(232,232,232);
    text-align: left;
    padding: 3% 5%;
}
i {
    font-size: 36px;
    color: rgb(84,116,253);
}
footer {
    background-color: #232323;
    text-align: center;
}
footer .logo h2 {
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 26px;
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-weight: bold;

}
footer .logo p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 26px;
    color: rgb(255,255,255);
    
}