@import "../css/normalize.css";
*{
    font-family: Montserrat, sans-serif;
    color: rgb(96,96,110);
}
div.container {
    max-width: 1140px;
    margin: 0 auto;
}
.ba-width-1-2{
    width: 50%;
}
.ba-width-1-3{
    width: 33.33333%;
}
.ba-width-2-3{
    width: 66.66666%;
}
.ba-row {
    display: flex;
}
header {
    background: #5f5f6d url("../img/bg_block1.png") no-repeat;
nav {
    display: flex;
    justify-content: space-between;
h1, img {
    display: block;}
h1  {
    width: 68px;
    height: 14px;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
}
}
p {
    width: 359px;
    height: 11px;
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}
h2 {
    width: 359px;
    height: 30px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}
}
section {
h2 {
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
}

}