@import url(../css/normalize.css);

* {
    font-family: Montserrat, sans-serif;
    color: #60606e;
    box-sizing: border-box;
}
button {
    border: none;
}

.benefits-name {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.benefits-name h4 {
    margin-left: 20px;
}

h2, h3, p {
    margin: 0 auto;
}

h2, h3 {
    margin-bottom: 30px;
}

button, input, h3, h4, h2, h1 {
    text-transform: uppercase;
}

div.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

div.container .one_block {
    margin: 150px auto 100px;
    max-width: 750px;
}

section h2 {
    background: url("../img/line_h2.jpg") no-repeat 0 110%;
    display: inline-block;
}

.ba-width-1-2 {
    width: 50%;
}

.ba-width-1-3 {
    width: 33.33333%;
}

.ba-width-2-3 {
    width: 66.66666%;
}

.ba-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ba-row > img {
    display: block;
}

.ba-row div {
    margin-right: 30px;
    text-align: left;
}

.ba-row div h4 {
    display: inline;
}

.ba-row div:last-child {
    margin-right: 0;
}

section {
    margin-top: 150px;
}

header {
    background: #5f5f6d url("../img/bg_block1.png") no-repeat;
    min-height: 500px;
    text-align: center;
    padding-top: 40px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav h1, header nav img {
    display: block;
}

header nav h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

header p {
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}

header h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
}

section h3 {
    font-size: 14px;
    line-height: 24px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

section h4 {
    font-size: 18px;
    line-height: 41px;
    font-weight: bold;
}

.footer {
    background-color: #7beec7;
    padding: 50px 0;
}

.footer div {
    text-align: left;
}

.footer div .green {
    padding: 0;
    background-color: #7beec7;
    color: white;
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
    margin-right: 30px;
}

.footer div .green > button {
    width: 165px;
    line-height: 49px;
    font-size: 14px;
    color: #7beec7;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.footer div .green > h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer div .white {
    background-color: white;
    padding: 20px;
    max-width: 555px;
}

.footer div .white form button {
    background-color: #7beec7;
    color: white;
    width: 135px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.footer div .white input {
    width: 236px;
    font-size: 12px;
    line-height: 50px;
    color: #cdcdcd;
    font-weight: bold;
    border: 1px solid #cdcdcd;
    margin: 0;
}

.footer div .white p {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}

.footer div .white > h2 {
    font-size: 24px;
    line-height: 36px;
    color: #60606e;
    font-weight: bold;
}