@import url(../css/normalize.css);

header {
  background: #5f5f6d url("../img/bg_block1.png") no-repeat;
}

header h1 {
  width: 68px;
  height: 14px;
  font-size: 18px;
  line-height: 48px;
  color: #60606e;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}