@font-face {
    font-family: "Miso";
    src: url("miso.eot?") format("eot"), url("miso.woff") format("woff"),
    url("miso.ttf") format("truetype"), url("miso.svg#Miso") format("svg");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-size: 24px;
    color: rgb(51,51,51);
    font-family: "Miso", sans-serif;
    text-align: center;
}
h2 {
    font-size: 56px;
}
span {
    font-size: 70px;
    letter-spacing: 2px;
    color: rgb(2,153,91);
    font-weight: bold;
    text-align: center;
}
.flex {
    display: flex;
    background-color: #fdde7e;
    padding: 80px 30px;
    justify-content: space-between;
}
.flex > div {
    width: 30%;
    background-color: white;
}