*{
  font-family: Montserrat, sans-serif;
  color: rgb(96,96,110);
  box-sizing: border-box;
}
.benefits-name {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  h4 {
   margin-left: 20px;
  }
}
h2, h3, p {
  margin: 0 auto;
}
h2, h3 {
  margin-bottom: 30px;
}
button, input, h3, h4, h2, h1 {
  text-transform: uppercase;
}
button {
  border: none;
  padding: 0;
}
div.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  width: 95%;
  .one_block {
    margin: 150px auto 100px;
    max-width: 750px;
  }
}
section {
  h2 {
  background: url("../images/line_h2.jpg") no-repeat 0 110%;
  display: inline-block;
  }
}
.ba-width-1-2{
  width: 50%;
}
.ba-width-1-3{
  width: 33.33333%;
}
.ba-width-1-4{
  width: 25%;
}
.ba-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  div {
    margin-right: 30px;
    text-align: left;
    h4 {
      display: inline;
    }
    img {
      display: block;
      max-width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
section {
  margin-top: 150px;
}
header {
  background: #5f5f6d url("../images/bg_block1.png") no-repeat;
  min-height: 500px;
  text-align: center;
  padding-top: 40px;
  nav {
  display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  h1, img {
    display: block;
  }
  h1  {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    }
  }
  p {
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
  }
}
section {
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
    line-height: 24px;
    color: rgb(96,96,110);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
  }
  h4 {
    font-size: 18px;
    line-height: 41px;
    font-weight: bold;
  }
}
.footer {
  background-color: #7beec7;
  padding: 50px 0;
  div {
    text-align: left;
    .green {
      padding: 0;
      background-color: #7beec7;
      color: white;
      font-size: 30px;
      line-height: 48px;
      font-weight: bold;
      margin-right: 30px;
      & > button {
        width: 165px;
        line-height: 49px;
        font-size: 14px;
        color: rgb(123, 238, 199);
        font-weight: bold;
        text-align: center;
        background-color: white;
      }
      & > h2 {
        font-size: 30px;
        color: rgb(255,255,255);
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
     .white {
       background-color: white;
       padding: 20px;
       max-width: 555px;
       form {
       button {
         background-color: #7beec7;
         color: white;
         width: 135px;
         line-height: 50px;
         font-size: 14px;
         font-weight: bold;
         text-align: center;
         border: 1px solid #7beec7;
        }
       }
       input {
         width: 236px;
         line-height: 50px;
         font-size: 12px;
         color: rgb(205, 205, 205);
         font-weight: bold;
         border: 1px solid rgb(205, 205, 205);
         margin-right: -5px;
         padding: 0 20px 0;
       }
       p {
         font-size: 16px;
         line-height: 24px;
         color: rgb(153, 153, 153);
         font-family: "Open Sans", sans-serif;
         margin-bottom: 30px;
       }
       & > h2 {
         font-size: 24px;
         line-height: 36px;
         color: rgb(96, 96, 110);
         font-weight: bold;
       }
     }
  }
}