@import "../css/normalize.css";
*{
  font-family: Montserrat, sans-serif;
  color: rgb(96,96,110);
}
div.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  .one_block {
    margin: 0 auto;
    max-width: 750px;
  }
}
.ba-width-1-2{
  width: 50%;
}
.ba-width-1-3{
  width: 33.33333%;
}
.ba-width-2-3{
  width: 66.66666%;
}
.ba-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  img {
    display: block;
  }
}
header {
  background: #5f5f6d url("../img/bg_block1.png") no-repeat;
  min-height: 500px;
  text-align: center;
  nav {
  display: flex;
    justify-content: space-between;
  h1, img {
    display: block;}
  h1  {
    width: 68px;
    height: 14px;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
    }
  }
  p {
    width: 359px;
    height: 11px;
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    width: 359px;
    height: 30px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
  }
}
section {
  h2 {
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
  }
  h3 {
    width: 177px;
    height: 22px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(96,96,110);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
  }
  h4 {width: 198px;
    height: 19px;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
  }
}
.footer {
  background-color: #7beec7;
  padding: 50px 0;
  div {
    text-align: left;
    &:first-child {
      background-color: #7beec7;
      color: white;
      font-size: 30px;
      line-height: 48px;
      font-weight: bold;
      button {
        width: 165px;
        line-height: 49px;
        font-size: 14px;
        color: rgb(123, 238, 199);
        font-weight: bold;
        text-align: center;
        background-color: white;
      }
      h2 {
        font-size: 30px;
        line-height: 48px;
        color: rgb(255,255,255);
        font-weight: bold;
      }
    }
     &:last-child {
       background-color: white;
       button {
         background-color: #7beec7;
         color: white;
         width: 135px;
         line-height: 50px;
         font-size: 14px;
         font-weight: bold;
         text-align: center;
       }
       input {
         width: 236px;
         font-size: 12px;
         line-height: 50px;
         color: rgb(205, 205, 205);
         font-weight: bold;
         background-color: white;
       }
       p {
         font-size: 16px;
         line-height: 24px;
         color: rgb(153, 153, 153);
         font-family: "Open Sans", sans-serif;
       }
       h2 {
         font-size: 24px;
         line-height: 36px;
         color: rgb(96, 96, 110);
         font-weight: bold;
         background-color: white;
       }
     }
  }
}