body {
    padding-left: 10%;
    padding-top: 15px;

}
h1 {
    font-family: "Anton", Arial, Sans-Serif;
    letter-spacing: 1px;
    color: red;
}
.bord {
    display: inline-block;
    border: 8px solid wheat;
}
table {
    border-collapse: collapse;
    border: 3px solid black;
}
td {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-spacing: 0;
}
.black {
    background-color: black;
    position: relative;
}
td div {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 3px;
}
.red {
    background-color: red;
}
.darckgrey {
    background-color: dimgrey;
}