body {
    background-color: #efefef;
    padding: 3% 10%;
}
.slider {
    padding: 3.3% 0;
}
.logo {
    padding: 0;

}
ul:after {
    clear: both;
}
h1 {
    font-family: Roboto, sans-serif;
    color:  #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 27px;
    text-align: left;
    width: 45%;
}
h1, ul, li {
    display: inline-block;
}
ul.navigator {
    float: right;
    text-align: right;
    width: 40%;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    color: rgb(48,48,48);
}
li {
    display: inline-block;
    text-align: right;
    padding: 5%;
}
li:hover {
    color: red;
}
h3 {
    display: inline-block;
    font-family: Raleway, sans-serif;
    color:  #303030;
    font-size: 135px;
    font-weight: 900;
    line-height: 135px;
    text-align: right;
    text-transform: uppercase;
    margin: 0;

}
.black {
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: 100px;
}

div.black p {
    display: inline-block;
    /*width: 41.2%;*/
    font-family: Roboto, sans-serif;
    color:  #303030;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: right;
    margin-bottom: 2%;
    margin-top: 5%;
}
.black p:last-child {
    letter-spacing: 1px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin: 0%;
    color: red;
}
.slid span:hover {
    background-color: red;
    border: 1px solid red;
}
.slider img {
    display: inline-block;
    vertical-align: top;
}
.slid {
    width: 52%;
    text-align: right;
    height: 85px;
    padding-bottom: 100px;
}
.slid span {
    display: inline-block;
    margin-top: 65px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
section {
    background-color: white;
    padding: 20px 5% 5% 5%;
    text-align: center;
    max-width: 1200p;
}
section h2 {
    font-size: 48px;
    letter-spacing: 1px;
    color: rgb(48,48,48);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
}
section p {

    width: 50%;
    text-align: center;
    margin: 15px auto;
    margin-bottom: 70px;
}
.flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    max-width: ;
}
.flex div {
    width: 31%;
    border-radius: 1%;
    margin-bottom: 35px;
}
div.big_img {
    width: 65.5%;
}
img {
    max-width: 100%;
    height: 100%;
}

.flex div:hover img, div.big_img:hover img {
    opacity: 0;
}
.flex div:hover {
    background: #e10011 url("../img/Rectangle 4.png") no-repeat;

}
/*.img_hover, .img_big_hover {
    display: none;
}
.img_big_hover {
    border-radius: 1%;
}

.flex div:hover img, div.big_img:hover img{
    display: none;
}
.flex div:hover img.img_hover, div.big_img:hover img.img_big_hover{
    display: block;
}*/

div.mail {
    text-align: center;
}
.mail h2 {
    font-size: 48px;
    letter-spacing: 1px;
    color: rgb(48,48,48);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 100px 0 25px;
}
.mail p {
    width: 632px;
    height: 92px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    color: rgb(48,48,48);
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
[type="email"] {
    width: 500px;
    height: 70px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    color: rgb(151,151,151);
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-style: italic;
    background: url("../img/Rectangle 5.png") no-repeat;
    padding-left: 6%;
    border: 0;
}
[type="submit"] {
    width: 208px;
    height: 70px;
    background: url("../img/btn.png") no-repeat 50% 50%;
    border: 0;
}
footer {
    text-align: center;
    padding: 100px 0 30px;
}
footer ul {
    display: block;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}
footer ul li {
    padding: 10px;
}
footer ul li a {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.fb {
    background-image: url("../img/fb.png");
}
.me {
    background-image: url("../img/me.png");
}
.tw {
    background-image: url("../img/tw.png");
}
.yt {
    background-image: url("../img/yt.png");
}
footer p {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    color: rgb(151,151,151);
    font-family: Raleway, sans-serif;
    text-align: center;
}