* {
    font-family: Lato, "Times New Roman", serif;
    color: #171717;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 34px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 6%;
}
div.oll {
    /*display: inline-block;
    padding: 12%;*/
    display: inline-block;
    box-shadow: 0px 4px 68px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 4% 6% 6%;

}
footer {
    font-size: 24px;
    text-align: left;
    transform: scaleX(1.1041);
}
.big {
    font-size: 42px;
}
h1 {
    width: 384px;
    height: 51px;
    font-size: 42px;
    letter-spacing: 0px;
    color: rgb(23,23,23);
    font-family: "Playfair Display", serif;
}
section {
    margin: 0 auto

}
p, div {
    display: inline-block;
}

blockquote {
    font-size: 24px;
    font-style: italic;
}
[type="button"] {
    color: #eaa258;
    background-color: white;
    margin-left: 4%;
    border: 1px solid #eaa258;
    width: 264px;
    height: 68px;
    text-align: center;
}
.one:first-letter {
    font-size: 110px;
    font-weight: 400;
    float: left;
    line-height: 100px;
    vertical-align: top;
    margin-right: 20px;
}